@if(sharedService.isSidebarVisible){
    <div class="sidebar" style="position: fixed;">
        <ul class="first-ul" style="display:flex; flex-direction:column;  margin-top: 15px">
            <b>
                <div class="first-ul-div"
                    style="display: flex; align-items: center; border-radius: 5px;">
                    <img src="/home.png" alt="Questions-icon" />
                    <li>Home</li>
                </div>
            </b>
            <b>
                <div class="first-ul-div"
                    style="display: flex; align-items: center; color: #0C0D0E; border-radius: 5px;">
                    <img src="/question.png" alt="Questions-icon" />
                    <li>Questions</li>
                </div>
            </b>
            <div class="first-ul-div" style="display: flex; align-items: center;">
                <img src="/tags.png" alt="tag-icon.">
                <li>Tags</li>
            </div>
        </ul>

        <ul class="second-ul" style="display:flex; flex-direction:column; margin-top: 15px;">
            <div class="first-ul-div" style="display: flex; align-items: center;">
                <img src="/person.png" alt="users-icon">
                <li>Users</li>
            </div>
            <div class="first-ul-div" style="display: flex; align-items: center;">
                <img src="/company.png" alt="companies-icon">
                <li>Companies</li>
            </div>
        </ul>

        <ul class="third-ul" style="display:flex; flex-direction:column;margin-top: 15px;">
            <div class="twoIcon"
                style="display: flex;justify-content: start; align-items: center; gap:105px; cursor: pointer; font-size: 10px; padding-left:8px; letter-spacing: 0.5px;">
                <b class="noHover" style="color: #0C0D0E;">LABS</b><i class="fa fa-info-circle"></i>
            </div>
            <div class="first-ul-div" style="display: flex; align-items: center;">
                <img src="/message.png" alt="discussions-icon">
                <li>Discussions</li>
            </div>
        </ul>

        <ul class="fourth-ul" style="display:flex; flex-direction:column; margin-top: 15px;">
            <div class="twoIcon"
                style="display: flex;justify-content: start; align-items: center; gap:70px; cursor: pointer; font-size: 10px; padding-left:8px; letter-spacing: 0.5px;">
                <b style="color: #0C0D0E;">COLLECTIVES</b><i class="fa-solid fa-plus"></i>
            </div>
            <div style="padding: 4px 8px 0px; margin: 0px 0px 11px;">
                <p style="font-size: 11px; color: #636b74;">Communities for your favorite technologies. <b
                        class="explore"><u> Explore all Collectives </u></b></p>
            </div>
        </ul>

        <ul class="fifth-ul" style="display:flex; flex-direction:column; margin-top: 15px; padding: 8px;">
            <div
                style="display: flex;justify-content: start; align-items: center; gap:70px; cursor: pointer; font-size: 10px; color: #0C0D0E; letter-spacing: 0.5px;">
                <b>TEAMS</b>
            </div>
            <div style="margin-top: 10px ;">
                <img style="width: 150px ;" src="https://cdn.sstatic.net/Img/teams/teams-promo.svg?v=e507948b81bf" alt="teams-promo">
            </div>
            <div >
                <p style="font-size: 11px; color: #636b74;">Ask questions, find answers and collaborate at work with
                    Stack Overflow for Teams.</p>
            </div>
            <div >
                <button sty class="try-teams-btn">Try Teams for free</button>
            </div>
            <div style=" margin-top: 2px;">
                <button sty class="try-teams-btn-2">Explore Teams</button>
            </div>
        </ul>

    </div>
}

    <div class="sidebar1" style="position: fixed;  width: 10% ;">
        <ul class="first-ul" style="display:flex; flex-direction:column; margin-top: 15px">
            <b>
                <div class="first-ul-div"
                    style="display: flex; align-items: center; ; border-radius: 5px;">
                    <img src="/home.png" alt="Questions-icon" />
                    <li>Home</li>
                </div>
            </b>
            <b>
                <div class="first-ul-div"
                    style="display: flex; align-items: center; color: #0C0D0E; background-color: #f1f2f3; border-radius: 5px;">
                    <img src="/question.png" alt="Questions-icon" />
                    <li>Questions</li>
                </div>
            </b>
            <div class="first-ul-div" style="display: flex; align-items: center;">
                <img src="/tags.png" alt="tag-icon.">
                <li>Tags</li>
            </div>
        </ul>

        <ul class="second-ul" style="display:flex; flex-direction:column; margin-top: 15px">
            <div class="first-ul-div" style="display: flex; align-items: center;">
                <img src="/person.png" alt="users-icon">
                <li>Users</li>
            </div>
            <div class="first-ul-div" style="display: flex; align-items: center;">
                <img src="/company.png" alt="companies-icon">
                <li>Companies</li>
            </div>
        </ul>

        <ul class="third-ul" style="display:flex; flex-direction:column; margin-top: 15px">
            <div class="twoIcon"
                style="display: flex;justify-content: start; align-items: center; gap:105px; cursor: pointer; font-size: 10px; padding-left:8px; letter-spacing: 0.5px;">
                <b class="noHover" style="color: #0C0D0E;">LABS</b><i class="fa fa-info-circle"></i>
            </div>
            <div class="first-ul-div" style="display: flex; align-items: center;">
                <img src="/message.png" alt="discussions-icon">
                <li>Discussions</li>
            </div>
        </ul>

        <ul class="fourth-ul" style="display:flex; flex-direction:column; margin-top: 15px">
            <div class="twoIcon"
                style="display: flex;justify-content: start; align-items: center; gap:70px; cursor: pointer; font-size: 10px; padding-left:8px; letter-spacing: 0.5px;">
                <b style="color: #0C0D0E;">COLLECTIVES</b><i class="fa-solid fa-plus"></i>
            </div>
            <div style="padding: 4px 8px 0px; margin: 0px 0px 11px;">
                <p style="font-size: 11px; color: #636b74;">Communities for your favorite technologies. <b
                        class="explore"><u> Explore all Collectives </u></b></p>
            </div>
        </ul>

        <ul class="fifth-ul" style="display:flex; flex-direction:column; padding: 0px 8px; margin-top: 15px">
            <div
                style="display: flex;justify-content: start; align-items: center; cursor: pointer; font-size: 10px; color: #0C0D0E; letter-spacing: 0.5px;">
                <b>TEAMS</b>
            </div>
            <div  style="margin: 10px;">
                <img src="/teams.png" alt="teams-promo">
            </div>
            <div class="teams-img" >
                <p style="font-size: 11px; color: #636b74; margin: 5px 0px;">Ask questions, find answers and collaborate at work.</p>
            </div>
            <div >
                <button sty class="try-teams-btn">Try Teams for free</button>
            </div>
            <div style=" margin-top: 2px;">
                <button sty class="try-teams-btn-2">Explore Teams</button>
            </div>
        </ul>
</div>